#MPD-header {
    background-color: #2ecc71;
}

/* --- CSS DE LA TIMELINE --- */

/* La ligne grise derrière */
.timeline-track {
    position: absolute;
    height: 4px;
    background-color: #e9ecef;
    top: 25px; /* Pour être au milieu des bulles */
    left: 10%;
    right: 10%;
    z-index: 0;
}

.timeline-wrapper {
    position: relative;
    z-index: 1;
}

.timeline-bubble {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 4px solid #dee2e6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; /* Pour être devant la ligne */
}

.timeline-bubble:hover {
    transform: scale(1.1); /* Elle grossit un peu */
    border-color: #198754;
}


.timeline-bubble.active {
    background-color: #198754;
    border-color: #198754;
    color: white !important;
}

/* ------------ */

.experience-card {
    animation: fadeIn 0.6s; /* Petite animation d'apparition */
}

/* Animation d'apparition */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}